/* --------------------------------------header-part------------------------------------------------- */
.head {
  list-style: none;
  display: flex;
  margin: 30px 150px 120px 150px;
}
.head a {
  text-decoration: none;
  color: #252432;
}

.shop-aboutus a {
  color: #8987A1;
}
.home{
    font-weight: bold;
  }

  .all-nav{
    margin: 50px 910px;
    display: grid;
    grid-template-columns: 96px 96px 96px 35px 35px 96px;
  }
  .buy-cart{
    margin-top: -6px;
  }
  /*///////////////////////////////////Responsive/////////////////////////////////////////////////*/ 
@media screen and (max-width: 576px) {
    .img-logo img {
    max-width: 63px;
    max-height: 38px;
    margin-top: 40px;
    }  
  .head {
  display: flex;
  margin: 5px;
  }

.shop-aboutus a {
  display: none;
}
.home{
    display: none;
  }

  .all-nav{
    margin: 50px 85px;
    display: grid;
    grid-template-columns: 50px 50px 35px 35px 50px;
  }
  .buy-cart{
    margin-top: -6px;
  }
}
/* =====================================================================================================*/

/*-----------------------------------typography-------------------------------------------------------- */
/* inter */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* noto-serif */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ==================================================================================================== */
/* -----------------------------------main------------------------------------------------------------ */
/* --------------------------------section-1--------------------------------------------------------- */
.abba-1{
  display: flex;
  margin: 100px 250px 100px 200px;
  width: 100%;
}

.frind-2{
  font-weight: bold;
  font-size: 70px;
  margin-bottom: -5px;
}
.frend-clor{
  color: #E95A08;
}
.text-1{
  color: #6B7280;
  font-size: 23px;
  font-weight: 400;
}
.part-1{
  margin-right: 290px;
}
.para{
  margin-right: 400px;
}
/*///////////////////////////////////Responsive/////////////////////////////////////////////////*/
  @media screen and (max-width: 576px){
  .para img {
  max-width: 425px;
}
.abba-1{
    flex-direction: column-reverse;
  margin: 0px;
}
.frind-2{
  /* font-weight: bold; */
  font-size: 30px;
  margin-bottom: 5px;
  width: 250px;
}
.frend-clor{
  color: #E95A08;
}
.text-1{
  color: #6B7280;
  font-size: 15px;
  font-weight: 400;
  width: 400px;
}
}
/* ================================================================================================= */
/* ---------------------------------------section-2----------------------------------------------------------- -- */
.product-section{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
h2{
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}
.description{
  color: #6B7280;
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 400;
}
.product-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px -5px;
}
.card{
  padding: 15px;
  border-radius: 15px;
}
.card img {
  max-width: 100%;
}
.card h3 {
  font-size: 22px;
  margin: 10px 0 5px;
  font-weight: 500;
}
.card .price {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 22px;
}
.card button {
margin: 20px 3px;
    width: 270px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    background-color: #E95A08;
    font-weight: bold;
    
}
.card button:hover {
      background-color: #B6F500; 
      color: #111111;
    }
.card button:hover {
  cursor: pointer;
}
/*///////////////////////////////////Responsive/////////////////////////////////////////////////*/
@media (max-width: 576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    padding: 0 10px;
  }

  .card {
    padding: 10px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: 25px;
  }

  .description {
    font-size: 15px;
    padding: 0 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card .price {
    font-size: 0.95rem;
  }

  .card button {
    width: 100%;
    padding: 8px;
    font-size: 0.95rem;
  }
}

 /* ================================================================================================= */
  /* ============================================================================================================ */
  /* ---------------------------------------section-3----------------------------------------------------------- -- */
.abba-3{
  display:flex;
  
}
.img-15{
  margin: 100px 50px 100px 350px;
}
.flor-abba{
  margin: 100px 90px;
}
.flower-22{
  font-size: 50px;
  font-weight: bold;
  margin: 30px 20px;
}
.list{
  color: #6B7280;
  font-size: 22px;
  font-weight: 400;
  margin: 5px 250px 10px 15px;
}
.ttbb{
  width: 286px;
  height: 286px;
  position: relative;
  top: -720px;
  left: 350px;
}
/*///////////////////////////////////Responsive/////////////////////////////////////////////////*/
@media (max-width: 576px) {
  .abba-3 {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .img-15 {
    margin: 20px auto;
    
  }

  .flor-abba {
    margin: 5px 10px;
  }

  .flower-22 {
    font-size: 24px;
    margin: 20px 10px;
    /* text-align: center; */
  }

  .list {
    font-size: 14px;
    margin: 5px 8px 5px -12px;
  
  }
  .ttbb{
    display: none;
  }
}
  /* ============================================================================================================ */
/* <!-- ---------------------------------------section-4----------------------------------------------------------- -- */
.deles{
  margin: -320px 20px 50px 750px;
  font-size: 50px;
  font-weight: bold;
}
.lalalalal {
  text-align: center;
  font-size: 22px;
  color: #6B7280;
  margin-top: -40px;
}
/*///////////////////////////////////Responsive/////////////////////////////////////////////////*/
@media (max-width: 576px){
  .deles{
  margin: 10px 120px;
  font-size: 24px;
  font-weight: bold;
}
.lalalalal {
  text-align: center;
  font-size: 17px;
  color: #6B7280;
  margin-top: -5px;
  font-weight: 300;
}
}
  /* <!-- ========================================================================================================== -- */
  /* <!-- ---------------------------------------section-4---------------------------------------------------------- -- */
.abba-main{
  /* border: 5px solid greenyellow; */
  height: 480px;
  padding: 25px;
  display: flex;
  width: 1200px;
  margin-left: 350px;
  
}
.boxpo{
  /* border: 4px solid rgb(130, 47, 255); */
  padding: 20px;
  width: 40%;
}

.mamabox{
  border: 0.1px solid rgb(248, 247, 247);
  height: 50%;
  margin-top: -20px;
  margin-bottom: 35px;
  background-image: url(assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 28px;
  background-color: #c8bfbf;
  background-blend-mode: color-burn;
  
}
.mamaboxss{
  border: 1px solid rgb(243, 242, 242);
  height: 50%;
  background-image: url(assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 28px;
    background-color: #9f9d9d;
    background-blend-mode: multiply;
  
  
}
.last-op{
  /* border: 3px solid rgb(255, 47, 47); */
  padding: 20px;
  width: 60%;
  margin-left: 30px;
  background-image: url(assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 28px;
    background-color: #b7b5b5;
    background-blend-mode: multiply;
    
  
}
.vats{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  margin: 180px 100px 5px 100px;
}
.shops{
color: #FFFFFF;
  font-size: 30px;
  font-weight: 500;
  margin-left: 230px;
  
}
.vat{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
margin: 90px 60px 2.5px 110px;
}
.shop{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  margin-left: 180px;
}
/*///////////////////////////////////Responsive/////////////////////////////////////////////////*/
@media (max-width: 576px){
  .abba-main{
    flex-direction: column;
    height: 300px;
  padding: 2px;
  width: 430px;
  margin-left: 3px;
  }
.boxpo{
  padding: 25px;
  width: 100%;
  margin-left: -33px;
  margin-bottom: 30px;
}

.last-op{
  width: 90%;
  height: 110px;
  margin-left: -10px;
  background-color: #6c6b6b;
    background-blend-mode: multiply;
}
.vats{
  font-size: 18px;
  margin: 50px 100px;
}
.shops{
  font-size: 14px;
  position: relative;
  top: -48px;
  right: 75px;
  
}
.vat{
  font-size: 18px;
margin: 50px 100px;
}
.shop{
  font-size: 14px;
  position: relative;
  top: -48px;
  right: 10px;
}
.mamabox{
background-color: #777777;
    background-blend-mode: multiply;
}
.mamaboxss{
  background-color: #5c5b5b;
    background-blend-mode: multiply;
}

}

/* =================================================================================================================== */



